<div class="fullBox container-fluid themeGradientBackground blur"></div>


<div class="container-fluid flexContainer" style="overflow: auto">
    <div class="row" style="margin-top: 30vh">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Research Papers</div>
                <div class="card-body bg-white text-dark">
                    <h5 class="card-title"></h5>
                    <!-- <p class="card-text"> -->
                        <ul>
                            <li class="card-text">Published a research paper on ‘Bitcoin-Electronic cash system’ in National conference on “Computational
                                Intelligence, Communication Network, and Smart Grid” on 19th -20th February, 2016. ISBN:978-93-85758-03-4.</li>
                            <li class="card-text"> Anurag Khandelwal, Sakshi Gahlot, Dayanand “Big Data and Hadoop- A review Paper” published in
                                Conference Proceedings, 27th National Conference on Digital Technology to Digital Economy.
                                Tecnia Institute of Advanced Studies, New Delhi, 17th Feb. 2017</li>
                            <li class="card-text">Anurag Khandelwal, Sakshi Gahlot, Bhawna Verma, Dayanand “Database Security: Attacks, Threats
                                and Control Methods” published in Conference Proceedings, International Conference on “Computational
                                Intelligence, Cyber Security and Smart Grid”. HMRITM, New Delhi, 20-21 April 2017.</li>

                        </ul>
                    <!-- </p> -->




                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>

        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Social</div>
                <div class="card-body bg-white text-dark">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Lead various Flashmobs for causes like Eve Teasing and Make in India.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>

        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Organiser</div>
                <div class="card-body bg-white text-dark">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Organised various events at Collge Fests.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>

        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Participation</div>
                <div class="card-body bg-white text-dark">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Participated in Singing, Dancing, Fashion Shows, etc.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>

        <div class="col-sm-3"></div>
        <!-- <div class="col-sm-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Header</div>
                <div class="card-body bg-white text-dark">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div> -->
        <div class="col-sm-3"></div>
    </div>
</div>