<div class="fullBox container-fluid themeGradientBackground blur"></div>


<div class="container-fluid flexContainer" style="overflow: auto ;">
    <div class="row" style="margin-top: 30vh">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Service Desk</div>
                    <div class="card-body bg-white text-dark">
                        <h5 class="card-title">Technology Stack : [Angular 5,Angular-Material, MySQL, Laravel]</h5>
                        <p class="card-text"><b>Project Description :</b> Website for providing services to various companies by their own subdomain according
                            to their subscription. 
                            <br><b>Role :</b> Worked on the front-end using Angular Material 5.2.4 along with Angular
                            5. Created a structure for maintaining the work orders along with scheduling appointments with users
                            of a company, estimates and invoices, generating PDFs, linking with sending automated mail server,
                            incorporated various features of Angular and JavaScript.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>

        <div class="col-sm-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Inventory App (POS)</div>
                <div class="card-body bg-white text-dark">
                    <h5 class="card-title">Technology Stack : [ Ionic v3, Angular5, Node.JS, Express.JS, MySQL]</h5>
                    <p class="card-text">
                            <b>Project Description :</b> A complete Inventory management and POS, android/iOS app. Included all types of reports and stock details
                        with synchronisation with other devices. <br>
                        <b>Role :</b> Worked on building every part of app, consuming REST
                        API’s, connecting and interacting with the MySQL DB.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>

        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Inventory Admin</div>
                <div class="card-body bg-white text-dark">
                    <h5 class="card-title">Technology Stack : [ Angular5, Node.JS, Express.JS, MySQL]</h5>
                    <p class="card-text"><b>Project Description :</b> Inventory Admin is a website for Admin Management of Inventory POS app. 
                        <br><b>Role :</b> Worked
                        on user role based login and a user role checker service to show views respective to the role of
                        user. Created store and manager CRUD functionalities and multiple reports and bound the API’s in
                        angular.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
       

        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Author Speech</div>
                <div class="card-body bg-white text-dark">
                    <h5 class="card-title">Technology Stack : [ Angular 2, Node.JS, Express.JS]</h5>
                    <p class="card-text"><b>Project Description :</b> A website for managing speech of politicians and authors, with specific authenticated
                        login mechanism and searching through keywords.<br>
                        <b>Role :</b> Worked on the front-end (angular) and consumed the API’s and bound them.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
    </div>
</div>