<div class="fullBox container-fluid themeGradientBackground blur"></div>


<div class="container-fluid flexContainer">

  <div style="display: flex;justify-content: center; padding-top: 35px;">
    <img src="../../assets/9b90379f-a032-45ca-947b-a2c83f52a750.jpg" class="portfolio-img" />
  </div>
  <br/>

  <div style="display: flex;justify-content: center">

    <div class="text-white text-center ">
      <h1 class="landingFont">
        Anurag Khandelwal
      </h1>
      <h1 class="landingFont" style="padding-top: 3vh; font-size:51px !important; color: #19171a ">
        Full Stack Javascript Developer
      </h1>
    </div>

  </div>
</div>

<div style="min-height:100vh;padding-top: 200px;" class="skillsBackground">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-5" style="background-color: black;min-height: 500px;">
        <iframe width="100%" height="100%" frameBorder="0" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
        </iframe>
      </div>
      <div class="col-md-5 introBackground">
        <div style="padding-top: 8%" class="introFont"> He is a Logic Oriented Front-end Developer. He strives for builing Carefully Crafted code. He seeks knowledge and
          believes that if something has logic it can be coded. He makes new Mistakes does not repeat old ones. 
        </div>
        <div style="padding-top: 8%" class="introFont">
          When not at work, Anurag can be found spending time with Family or Friends or playing the Guitar. Currently he is working
          with
          <a style="color: black" href="http://www.shipgigventures.com/">Shipgig Ventures Pvt. Ltd.</a>
        </div>
      </div>
      <div class="col-md-1">

      </div>
    </div>
    <div class="container-fluid" style="padding-top: 150px">

      <legend class="text-center headings">
        SKILLS
      </legend>

      <div class="row" style="padding-top: 50px">

        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <div class="row">

            <div class="container-fluid">
              <div class="row">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="card text-white bg-primary mb-3">
                        <div class="card-body">
                          <!-- &nbsp;&nbsp; <i class="card-title fab fa-angular"></i> -->
                          <h5 class="card-title">Angular Framework</h5>
                          <!-- <p class="card-text">Worked on websites using various concepts of Angular Framework(v2,v4,v5) </p> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="card text-white bg-secondary mb-3">
                        <div class="card-body">
                          <h5 class="card-title">Ionic Framework</h5>
                          <!-- <p class="card-text">Worked on building apps for Android and iOS platforms (v2,v3) </p> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="card text-white bg-success mb-3">
                        <div class="card-body">
                          <h5 class="card-title">Mongo</h5>
                          <!-- <p class="card-text"></p> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="card text-white bg-danger mb-3">
                        <div class="card-body">
                          <h5 class="card-title">Node JS </h5>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="card text-white bg-warning mb-3">
                        <div class="card-body">
                          <h5 class="card-title">MySql</h5>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="card text-white bg-info mb-3">
                        <div class="card-body">
                          <h5 class="card-title">Designing</h5>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="card bg-muted mb-3">
                        <div class="card-body">
                          <h5 class="card-title">Linux</h5>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="card text-white bg-dark mb-3">
                        <div class="card-body">
                          <h5 class="card-title">SQLite</h5>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



    <div class="container-fluid" style="padding-top: 150px">

      <legend class="text-center headings">
        TESTIMONIALS
      </legend>

      <div class="row" style="padding-top: 50px">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <img class="card-img-top" src="https://hips.hearstapps.com/hbz.h-cdn.co/assets/16/42/hbz-emma-watson-hair-2014-gettyimages-478498249.jpg"
                  alt="Card image cap" style="height: 250px;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <img class="card-img-top" src="https://hips.hearstapps.com/hbz.h-cdn.co/assets/16/42/hbz-emma-watson-hair-2014-gettyimages-478498249.jpg"
                  alt="Card image cap" style="height: 250px;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <img class="card-img-top" src="https://hips.hearstapps.com/hbz.h-cdn.co/assets/16/42/hbz-emma-watson-hair-2014-gettyimages-478498249.jpg"
                  alt="Card image cap" style="height: 250px;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>

                  <p class="card-text">
                    <i class="fas fa-quote-left"></i>Some quick example text to build on the card title and make up the bulk of the card's content.
                    <i class="fas fa-quote-right"></i>
                  </p>

                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <img class="card-img-top" src="https://hips.hearstapps.com/hbz.h-cdn.co/assets/16/42/hbz-emma-watson-hair-2014-gettyimages-478498249.jpg"
                  alt="Card image cap" style="height: 250px;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>

    <div style="height: 100px"></div>

  </div>
</div>